body {
    background-color: #15181A;
    color: #F1ECE2;
    font-family: 'Menlo', monospace;
    margin:0px;
    height:100%;
}

main {
}

#header {
    height: 80vh;
    padding: 6%;
    background-position: center;
    background-size: cover;
}

#time {
    font-size: 6rem;
}

.blink {
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#date {
    font-size: 1.4rem;
    font-weight: 300;
}

#terminal {
    max-width: 100%;
    margin: 4% 0;
    padding: 2% 0;
    background-color: #15181a00;
    transition: all 1s ease-out 100ms
}

#terminal:hover {
    /*padding-left: 2%;*/
    background-color: #15181ac0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#input {
    width: 98%;
    font-family: 'Noto Sans Mono', monospace;
    color: inherit;
    font-size: 1.4rem;
    background: transparent;
    border: none;
    outline: none;
    caret-color: #F1ECE2;
  }

#bookmarks {
    display: none;
    height: 100vh;
    padding: 6%;
}

.title {
    font-size: 2rem;
}