body {
    background-color: #15181A;
    color: #F1ECE2;
    font-family: 'Mononoki', 'Inconsolata', 'Source Code Pro', monospace;
    margin: 0px;
    height: 100%;
    scroll-snap-type: y mandatory;
}

a,
button,
ul,
li,
input {
    all: unset;
}

#header {
    height: 81vh;
    padding: 6%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1607945255152-4942744463dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2340&q=80);
    scroll-snap-align: start;
}

#time {
    font-size: 6rem;
    font-weight: 600;
    text-shadow: 2px 2px 32px #15181a70;
}

.blink {
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#date {
    font-size: 1.5rem;
    text-shadow: 0px 0px 32px #15181A70;
}

#terminal {
    max-width: 100%;
    margin: 4% 0;
    padding: 2% 0;
    text-shadow: 0px 0px 32px #15181A;
    background-color: #15181a00;
    transition: all 1s ease-out 100ms
}

#terminal:hover {
    padding-left: 2%;
    background-color: #15181ac0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#input {
    width: 98%;
    font-family: 'Noto Sans Mono', monospace;
    color: inherit;
    font-size: 1.4rem;
    background: transparent;
    border: none;
    outline: none;
    caret-color: #F1ECE2;
}

#bookmarks {
    scroll-snap-align: start;
    height: 81vh;
    padding: 6%;
}

#bookmark-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    background-color: #f1ece2;
    color: #15181A;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#btn-add:hover {
    background-color: #f1ece270;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #f1ece2;
    color: #15181a;
    margin: 15% auto;
    padding: 32px;
    border: 1px solid #888;
    width: 40%;
}

.modal-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
}

.form-input {
    padding: 4px 8px;
    border: #15181a70 solid 1px;
    border-radius: 4px;
    color: #15181a;
    transition: all 200ms ease-in-out;
}

.form-input:hover,
.form-input:focus {
    border: #15181a solid 1px;
}

.close {
    color: #15181A;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    margin-bottom: 4%;
}

#folder-list {
    display: none;
    margin-bottom: 1%;
}

.folder {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 1.4rem;
    background-color: #f1ece2;
    color: #15181A;
    transition: all 200ms ease-in-out;
}

.folder:hover {
    background-color: #F1ECE2a2;
    color: #15181A;
}

#tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.tag {
    margin: 0 8px 8px 0;
    border-radius: 20px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    border: #F1ECE2 solid 1px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    overflow: auto;
    float: left;
}

.tag span::before {
    content: "# ";
}

.tag label {
    float: left;
}

.tag label span {
    text-align: center;
    padding: 4px 8px;
    display: block;
    border-radius: 20px;
}

.tag input:hover+span {
    background-color: #F1ECE2;
    color: #15181A
}

.tag input:checked+span {
    background-color: #F1ECE2;
    color: #15181A;
}

.tag input:checked:hover+span {
    background-color: #F1ECE2;
    color: #15181A;
}

hr {
    margin: 2% 0;
    height: 1px;
    background-color: #f1ece270;
    border: 0;
}

#url-list {
    height: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.url {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 8px;
    cursor: pointer;
    color: #F1ECE2A2;
    transition: all 200ms ease-in-out;
}

.url:hover {
    color: #F1ECE2;
}

.url-favicon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}